<h1> Welcome to Anagrams! </h1>
<form action = "/output">
  <div class = "form-group">
    <label for="original">Enter a word or phrase</label>
    <input id = "original" name = "original" class = "form-control">
  </div>
  <div class="form-group">
    <label for="guesses">Enter a word or phrase to see if its an anagram of the above phrase. You can make multiple guesses by separating your guesses by a comma and a space.</label>
    <input id = "guesses" name="guesses" class="form-control">
  </div>
  <button type = "submit" class = "btn-success">Submit</button>
</form>
